.user-tile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    background-color: grey;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
    height: 35px;

    .name {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 250px;

        div {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    button {
        border-radius: 5px;
        background-color: lightgrey;
        height: 25px;
    }
}

.user-tile.favorite {
    background-color: pink;
    color: green;
}